Java Jsch library like sftp login interface implement

hi, is there a way to implement jsch sftp interface such as UserInfo, UIKeyboardInteractive to login sftp server?
I try to login with the following code:
```
	sshConfig := &ssh.ClientConfig{
		User: sftpUser,
		Auth: []ssh.AuthMethod{
			ssh.Password(sftpPassword),
			ssh.KeyboardInteractive(
				func(name, instruction string, questions []string, echos []bool) ([]string, error) {
					responses := make([]string, len(questions))
					for i, q := range questions {
						responses[i] = password
					}
					return responses, nil
				}),
		},
		HostKeyCallback: ssh.InsecureIgnoreHostKey(),
	}
	conn, err := ssh.Dial("tcp", addr, sshConfig)
```
but fail without setting up handshake and none prompt message, while jsch example login successfully with code like http://www.jcraft.com/jsch/examples/Sftp.java.html.
can you give me some example such as jsch  or any advise to implement it?

From reading the [ssh package documentation](https://pkg.go.dev/golang.org/x/crypto/ssh#KeyboardInteractiveChallenge):
> KeyboardInteractiveChallenge should print questions, optionally disabling echoing (e.g. for passwords), and return all the answers. Challenge may be called multiple times in a single session. After successful authentication, the server may send a challenge with no questions, for which the name and instruction messages should be printed. [RFC 4256 section 3.3](https://rfc-editor.org/rfc/rfc4256.html#section-3.3) details how the UI should behave for both CLI and GUI environments.

Said more directly, it’s not printing any prompts, because it’s the responsibility of the function you’re passing into `KeyboardInteractive` to print the prompt and collect the input.

I’m trying to provide the best help I can, but the `ssh` package is another package and maintained by different people. We might be able to help you from having some adjacent knowledge, but that package is really the place where such issues should be brought to get the best and most knowledgeable responses.
